@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Mulish&family=Oswald&family=Quicksand&display=swap");

.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Quicksand", sans-serif;
}

.searchbar {
  margin-bottom: 2rem;
}
input,
select,
.btn {
  font-family: "Quicksand", sans-serif;
}
.foodlist {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

@media only screen and (max-width: 800px) {
  .foodlist {
    grid-template-columns: 1fr;
  }
}
input {
  padding: 1rem;
  width: 200px;
  border: none;
  border-radius: 1rem;
  background-color: antiquewhite;
  margin-right: 10px;
}
select,
.btn {
  padding: 1rem;
  border: none;
  border-radius: 1rem;
  background-color: antiquewhite;
  margin-right: 10px;
}

.btn {
  background-color: skyblue;
  color: #fff;
}
.btn:hover {
  transform: scale(0.97);
  transition: transform 1s ease;
}

input:focus,
select:focus {
  outline: none;
}

.health option {
  padding: 1rem;
  min-height: 200px;
  font-size: medium;
}

.health option:focus {
  outline: none;
}
